<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wonderreport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3F688DC2044F54F0082E57D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3F688F02044F54F0082E57D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3F688FB2044F54F0082E57D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
